@import url('variables.css');
@import url('common.css');
@import url('utilities.css');
@import url('components/add_button.css');

/*
***************
DEBUG
***************
*/

/*
***************
HEADER
***************
*/

header {
    height: 4.375rem;
    background-color: var(--ms-primary-color);
}

#logo_link img:first-child {
    height: 2.6875rem;
}

/*
***************
MAIN
***************
*/

main {
    height: calc(100% - 4.375rem);
    width: 100%;
}

/*
***************
MAIN > ASIDE
***************
*/

aside {
    background-color: #051e34;
    background-image: url('../img/sidebar-bg.png');
}

aside ul li a > i {
    width: 2.1875rem;
    text-align: center;
}

@media screen and (min-width: 62rem) {
    aside {
        width: 9.375rem;
    }
}

/*
***************
MAIN > MAIN-VIEW
***************
*/
/* main-view-top */

#main_view_top .badge {
    background-color: #165bba;
}