@import url('variables.css');
@import url('common.css');
@import url('utilities.css');
@import url('components/add_button.css');

/*
***************
HEADER
***************
*/

header {
    height: 4.375rem;
    background-color: var(--ms-primary-color);
    box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.65);
}

#logo_link img:first-child {
    height: 2.6875rem;
}

/*
***************
MAIN
***************
*/

main {
    height: calc(100% - 4.375rem);
}

/*
***************
MAIN > ASIDE
***************
*/

aside {
    background-color: var(--ms-secondary-color);
    background-image: url('../img/sidebar-bg.png');
}

aside ul li a > i {
    width: 2.1875rem;
    text-align: center;
}

aside ul li a {
    background-color: transparent;
}

aside ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}

@media screen and (min-width: 62rem) {
    aside {
        width: 9.375rem;
    }
}

/*
***************
MAIN > MAIN-VIEW
***************
*/

#main_view {
    height: calc(100% - 4.375rem);
}

/* main-view-top */

#main_view_top .badge {
    background-color: #165bba;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .offcanvas.offcanvas-end {
        width: 40.625rem;
    }
}

/* main-view-bottom */

#main_view_bottom .table img {
    width: 1.5625rem;
}

#main_view_bottom .table button {
    border-style: solid;
}