/*
components 
*/ 

.add_button {
    display: inline-block;
    border: .0625rem solid currentColor;
    border-radius: .375rem;
    cursor: pointer;
}

.add_button > button:hover {
    background-color: white;
    color: var(--ms-secondary-color);
}

.ms_clean_input {
    box-shadow: none;
}